{{> header}}
		<div id="content">
			<article>
				<h1 id="page-title">{{title}}</h1>
				{{#cards}}
				<section>
					<div class="card-header">
						<h2>{{title}}</h2>
						<img src="{{image}}" width="760">
					</div>
					<div class="card-icons">
						{{#icons}}
						<i class="fab fa-{{fabid}}"></i>
						{{/icons}}
					</div>
					<div class="card-body">
						{{#body}}
						<p>{{paragraph}}</p>
						{{/body}}
					</div>
				</section>
				{{/cards}}
			</article>
		</div>
{{> footer}}