		<footer>
			<div id="footer-content">
				<div></div>
				<img src="/images/headshot.jpeg" class="headshot crop-circle" />
				<div class="social">
					<a href="https://www.github.com/chrismccluskey/" target="_new"><i class="fab fa-github"></i></a>
					<a href="https://www.linkedin.com/in/ternetgeek/" target="_new"><i class="fab fa-linkedin"></i></a>
				</div>
				<div class="footer-text">
					<div class="brand-font">
						<span class="big">Chris McCluskey</span><br />
						Full Stack Web Engineer<br />
					</div>
					<em>I love building the web.</em>
					<!-- a class="small" href="">site credits</a -->
				</div>
			</div>
		</footer>
	</body>
</html>