{{> header}}
		<div id="content">
			<article>
				<h1 id="page-title">{{title}}</h1>
				<section>
					<div class="resume-download">
					<a href="/pdf/resume-of-chris-mccluskey.pdf" class="button">Download Resume (PDF)</a>
					</div>
				</section>
				{{#companies}}
				<section>
					<div class="resume-company">
						<h3>{{company_name}}</h3>
						<h4>{{job_title}}</h4>
						<h4 class="resume-dates">{{year_start}} - {{year_end}}</h4>
					</div>
					<ul class="resume-bullets">
						{{#bullets}}
						<li>{{bullet}}</li>
						{{/bullets}}
					</ul>
				</section>
				{{/companies}}
			</article>
		</div>
{{> footer}}